.doc {
  padding: 4px;
}
.docTipo {
  background-color: rgba(40, 150, 200, 0.5);
}
.docEspecie {
  background-color: rgba(40, 150, 200, 0.3);
}
.docEstagio {
  background-color: rgba(40, 150, 200, 0.1);
}
